<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Volunteer Map Platform</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/style.css">
  {{#if mapApiKey}}
  <script src="https://maps.googleapis.com/maps/api/js?key={{mapApiKey}}&libraries=places"></script>
  {{/if}}
</head>
<body class="bg-gray-50 flex flex-col min-h-screen">
  {{> _header}}
  <main class="container mx-auto py-6 px-4 flex-grow">
    {{{body}}}
  </main>
  {{> _footer}}

  <script src="/js/main.js"></script>
</body>
</html> 